<div class="w3-display-container w3-container" style="top: 40px">
    <img
      src="https://images.unsplash.com/photo-1604671801908-6f0c6a092c05?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="NewArrivals"
      style="width: 100%"
    />
    <div class="w3-display-topleft w3-text-white" style="padding: 24px 48px">
      <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
      <h1 class="w3-hide-small">COLLECTION 2024</h1>
      <p>
        <a
          routerLink="/category/0"
          class="w3-button w3-black w3-padding-large w3-large"
          >SHOP NOW</a
        >
      </p>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width: 1564px">
    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
        Best sellers
      </h3>
    </div>
  
    <div class="product-item-container">
    </div>
  
    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
      <p>
        Welcome to Shoes World! We are a Bulgarian brand specializing in the production of high-quality trainers designed for an active lifestyle. 
        Our mission is to provide our customers with products that combine comfort, durability, and style.
        Our shoes feature innovative technologies and high-quality materials that ensure durability and resilience. 
        We focus on the details, paying special attention to design and functionality. 
        Our goal is to create shoes that are not only comfortable but also stylish, so you can feel confident wherever you are.
      </p>
    </div>
  </div>