<div class="container">
  <div class="left-column">
    <img
      data-image="red"
      class="active product-img"
      src="{{ productInfo?.productIcon }}"
      alt=""
    />
  </div>

  <!-- Right Column -->
  <div class="right-column">
    <!-- Product Description -->
    <input hidden name="productId" [value]="productInfo?.productId" />
    <div class="product-description">
      <h1>{{ productInfo?.productName }}</h1>
      <p>
        {{ productInfo?.productDescription }}
      </p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">
      <!-- Size -->
      <div class="size-config">
        <span>Size</span>

          <div class="size-choose" *ngIf="productInfo?.categoryType == 0">
            <button
              [ngClass]="{ chosen: selectedSize == '42' }"
              (click)="selectSize(42)"
            >
              42
            </button>
            <button
              [ngClass]="{ chosen: selectedSize == '43' }"
              (click)="selectSize(43)"
            >
              43
            </button>
            <button
              [ngClass]="{ chosen: selectedSize == '44' }"
              (click)="selectSize(44)"
            >
              44
            </button>
            <button
              [ngClass]="{ chosen: selectedSize == '45' }"
              (click)="selectSize(45)"
            >
              45
            </button>
        </div>

        <div class="size-choose" *ngIf="productInfo?.categoryType == 1">
            <button
              [ngClass]="{ chosen: selectedSize == '37' }"
              (click)="selectSize(37)"
            >
              37
            </button>
            <button
              [ngClass]="{ chosen: selectedSize == '38' }"
              (click)="selectSize(38)"
            >
              38
            </button>
            <button
              [ngClass]="{ chosen: selectedSize == '39' }"
              (click)="selectSize(39)"
            >
              39
            </button>
            <button
              [ngClass]="{ chosen: selectedSize == '40' }"
              (click)="selectSize(40)"
            >
              40
            </button>
        </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{ productInfo?.productPrice | currency:'EUR' }}</span>
      <a (click)="addToCart()" class="cart-btn">Add to cart</a>
    </div>
  </div>
</div>
