<div>
  <div class="w3-display-container">
    <img [src]="productInfo.productIcon" />
    <!-- <span
      class="w3-tag w3-display-topleft"
      *ngIf="productInfo.productPrice > 20"
      >Sale</span -->
    <!-- > -->
    <div class="w3-display-middle w3-display-hover">
      <button class="w3-button w3-black" (click)="seeDetailsProduct()">
        Buy now <i class="fa fa-shopping-cart"></i>
      </button>
    </div>
  </div>
  <p>
    {{ productInfo.productName }}<br />
    <b class="w3-text" [ngClass]="category == true ? 'black' : 'red'">{{
      productInfo.productPrice | currency:'EUR'
    }}</b>
  </p>
</div>
